<form #superheroesForm="ngForm" (ngSubmit)="create(); superheroesForm.reset()">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-7">
            <div class="form-group">
                <input class="form-control" type="text" name="name" [(ngModel)]="model.name" #tbName="ngModel" required placeholder="Enter Superhero Name" />
                <div [hidden]="tbName.untouched || tbName.valid">
                    Invalid Superhero name
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="secretIdentity" [(ngModel)]="model.secretIdentity" placeholder="Enter Superhero Secret Identity" required />
            </div>
            <div class="form-group">
                <input class="form-control" type="url" name="img" [(ngModel)]="model.img" placeholder="Enter image url">
            </div>
            <div class="form-group">
                <button class="btn btn-success">Create</button>
            </div>
        </div>
        <div class="col-xs-3">
            <img [src]="model.img" class="superhero-image" [hidden]="!model.img">
        </div>
    </div>
</form>