<div class="container">
    <div class="well">
        <form name="createTripForm" class="form-horizontal">
            <fieldset>
                <legend>Create New Trip</legend>
                <div class="form-group">
                    <label for="from-city" class="col-lg-2 control-label">From</label>
                    <div class="col-lg-10">
                        <select class="form-control" ng-init="trip.from='Aheloy'" ng-model="trip.from" required="required" id="from-city">
                            <option ng-repeat="city in vm.cities" value="{{city}}">
                                {{city}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="to-city" class="col-lg-2 control-label">To</label>
                    <div class="col-lg-10">
                        <select class="form-control"  ng-init="trip.to='Aheloy'" required="required" ng-model="trip.to" id="to-city">
                            <option ng-repeat="city in vm.cities" value="{{city}}">
                                {{city}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="seats" class="col-md-2 control-label">Available seats</label>
                    <div class="col-md-10">
                        <input id="seats" type="number" placeholder="Number of seats" min="1" max="254" ng-model="trip.availableSeats" required="required" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="departureTime" class="col-md-2 control-label">Departure Time</label>
                    <div class="col-md-10">
                        <input id="departureTime" kendo-datetimepicker k-format="'yyyy-MM-dd HH:mm:ss'" placeholder="Departure Time" ng-model="trip.departureTime" required="required" class="form-control full-width" />
                    </div>
                </div>
                
                <div class="pull-right">
                    <button ng-click="vm.createTrip(trip)" ng-disabled="createTripForm.$invalid" class="btn btn-primary">
                        Create
                    </button>
                    <a href="#/" class="btn btn-primary">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>