.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.toast-top-right {
    top: 70px;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.image-container img {
    width: 100%;
    height: 100%;
}

input.ng-dirty.ng-invalid {
    background-color: pink; !important
}

input.ng-dirty.ng-valid.validity {
    background-color: darkseagreen; !important
}

.vertical-content {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
}

.big-text {
    font-size: 2em;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.full-width {
    width: 100%;
}

.odd-class {
    background-color: pink;
}