<a href="#" (click)="isVisible=!isVisible">
    <span *ngIf="isVisible">
        Hide
    </span>
    <span *ngIf="!isVisible">
        Add new superheroes
    </span>
</a>

<div [hidden]="!isVisible" class="superhero-form-container">
    <superhero-form class="superhero-form" (created)="create($event)"></superhero-form>
</div>

<div *ngIf="superheroes">
    <ul class="list">
        <li *ngFor="let superhero of superheroes">
            <div class="row">
                <div class="col-xs-1 text-right">
                    <img class="superhero-image" [src]="superhero.img">
                </div>
                <div class="col-xs-4 text-left">
                    <strong>{{superhero.name}}</strong>
                    <a href="#" class="btn btn-uncover">Uncover</a>
                    <br>
                    <small class="superhero-secret-identity">{{superhero.secretIdentity}}</small>
                </div>
            </div>
        </li>
    </ul>
</div>
<div *ngIf="!superheroes.length">
    No superheroes yet
</div>