<div class="container">
    <div class="well">
        <form name="signUpForm" class="form-horizontal">
            <fieldset>
                <legend>Create New User</legend>
                <div class="form-group">
                    <label for="email" class="col-md-2 control-label">E-mail</label>
                    <div class="col-md-10">
                        <input id="email" type="text" placeholder="E-mail" ng-model="user.email" required="required" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        <input id="password" type="password" placeholder="Password" ng-model="user.password" required="required" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmation" class="col-md-2 control-label">Confirm Password</label>
                    <div class="col-md-10">
                        <input id="confirmation" type="password" placeholder="Username" ng-model="user.confirmPassword" required="required" class="form-control"/>
                    </div>
                </div>
                <div class="pull-right">
                    <button ng-click="signup(user)" ng-disabled="signUpForm.$invalid" class="btn btn-primary">
                        Create
                    </button>
                    <a href="#/" class="btn btn-primary">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>