<h4 appHighlightItem bgColor="green">Edit post</h4>

<form [formGroup]="editForm" (ngSubmit)="edit(editPost.value)" #editPost=ngForm novalidate>
    <div>
      <label for="title">Title:</label>
      <input type="text" name="title" formControlName="title" required>
      <span *ngIf="title.hasError('required') && title.touched || (!title.valid && mouseover)">Required</span>
    </div>
    <div>
      <label for="body">Body:</label>
      <input type="text" name="body" formControlName="body" required>
      <span *ngIf="body.hasError('required') && body.touched || (!body.valid && mouseover)">Required</span>
    </div>
    <span (mouseenter)="mouseover=true" (mouseleave)="mouseover=false">
        <input type="submit" [disabled]="!editPost.valid">
    </span>
  </form>